<form form="form" action="/products" method="put" enctype="x-www-form-urlencoded">
  <input type="text">name</br>
  <input type="text">price</br>
  <input type="text">inventory</br>
  <input type="submit" value="submit">
</form>