<form action="/products" method="POST" enctype="x-www-form-urlencoded">
  <h3>name</h3>
  <input type="text" name="name" value="car"></br>
  <h3>price</h3>
  <input type="text" name="price" value="100"></br>
  <h3>inventory</h3>
  <input type="text" name="inventory" value="100"></br>
  <input type="submit" value="Submit">
</form>